<div class="row">
    <div class="col-12">
        <div class="card bg-white">
            <div class="card-body">
                <h5>Popular tags</h5>
                <p class="aside-tags">
                    <a href="#"><span class="badge badge-light">DJANGO</span></a>
                    <a href="#"><span class="badge badge-light">PYTHON</span></a>
                    <a href="#"><span class="badge badge-light">WTF</span></a>
                    <a href="#"><span class="badge badge-light">JS</span></a>
                    <a href="#"><span class="badge badge-light">GOLANG</span></a>
                    <a href="#"><span class="badge badge-light">COFFEE</span></a>
                    <a href="#"><span class="badge badge-light">C++</span></a>
                    <a href="#"><span class="badge badge-light">ROCK</span></a>
                    <a href="#"><span class="badge badge-light">MUSIC</span></a>
                    <a href="#"><span class="badge badge-light">СТРОЙКА</span></a>
                </p>
            </div>
        </div>
    </div>
    <div class="col-12 empty"></div>
    <div class="col-12">
        <div class="card bg-white">
            <div class="card-body">
                <h5>Best members</h5>
                <div class="list-group">
                    <a href="" class="list-group-item">Andrey</a></li>
                    <a href="" class="list-group-item">Petr</a></li>
                    <a href="" class="list-group-item">Tanya</a></li>
                    <a href="" class="list-group-item">Maria</a></li>
                    <a href="" class="list-group-item">Nikolay</a></li>
                </div>
            </div>
        </div>
    </div>
</div>